/* PAGE STYLES 
 * -------------------------------------------------------------- */

.border{
    border: 2px solid #888;
}



.map-item{
    margin:0 auto;
    text-align: center;
    img{
        .border;
        width: 5em;
        height: 5em;
    }
    a.title{
        .sansserif-font;
        color: @link-color;
    }
    span{
        serif-font;
    }
}


