/* PAGE STYLES 
 * -------------------------------------------------------------- */

.border{
    border: 2px solid #888;
}

.map-item{
    margin:0 auto;
    text-align: center;
    img{
        .border;
        width: 5em;
        height: 5em;
    }
    a.title{
        .sansserif-font;
        color: @link-color;
    }
    span{
        serif-font;
    }
}

.modal{
    height:360px; 
    width:600px; 
    color:#bbb;
    background-color:#333; 
    border:4px solid #444; 
    padding:12px;
    display:hidden;
}

