/* include site-wide variables and fxns */
@import "sourcemap";

@embed-color: rgba(30,30,30,0.6);

body#supplychain {
    width: 100%;
    min-width: 0;
    font-size: 101%;

    .map-dialog {
        z-index: 1010;
        margin: 0 auto;
        display:-moz-inline-stack;
        display:inline-block;
        max-height: 90%;
        background: rgba(0,0,0,0.9);
        position: absolute;
        top: 1%; left:50%;
        padding: 2%;
        .rounded(0.25em);
        overflow:hidden;
        iframe, object {
            display:block;
            margin: 1em 0;
        }
        h2 {
            color:#fff;
            border-bottom: 1px solid #666;
            margin-bottom: .5em;
            font-size: 1.2em;          
        }
        h3 {
            font-size: 1em;            
            margin-top: 1em;
        }
        .flickr-photoset {
            /*border: 1px solid #ddd;*/
            margin-top: 1em;
            img {
                height: 5em;
                float: left;
                margin: .5em;
            }
        }
    }
    .sourcemap-embed-overlay {
        position:absolute;
        top:0; left:0;
        z-index:1000;
        background: @embed-color;
        .box_shadow(0,0.25em,0.25em);
        padding: 0; margin: 0;
        width: 100%;
        .embed-summary {
            font-size:0.6em;
            padding:1em;
            h1 {
                color: #fff;
                text-transform: uppercase;
            }
            p {
                width: 100%;
                color: #ccc;
                .user-avatar {
                    height: 1.5em;
                    width: 1.5em;
                    display: none;
                }
            }

        }
    }
    .olLayerGooglePoweredBy, .olLayerGoogleCopyright {
        z-index:1001 !important;
    }
    .olControlPanel {
        height: 1.5em;
        left: 1em; bottom: 0.25em;
        background: @embed-color;
        .rounded(0.5em);
        padding:0.5em 0.25em;
        .box_shadow(0.25em,0.25em,0.25em);
    
         div {
            float: left;
            opacity: 0.8;
            clear: none;
            &:hover {
                opacity: 1.0;
            }
        }
        .olControlZoomToMaxExtentItemActive {
            width: 1.5em;
            height: 1.5em;
            background: url("../images/embed-zoom-zoommax.png") center center no-repeat;
            background-size: 100%;
            -moz-background-size: 100%;
            display: none;
        }    
        .olControlZoomInItemInactive {
            width: 1.5em;
            height: 1.5em;
            background: url("../images/embed-zoom-zoomin.png") center center no-repeat;
            background-size: 100%;
            -moz-background-size: 100%;
        }
        .olControlZoomOutItemInactive {
            width: 1.5em;
            height: 1.5em;
            background: url("../images/embed-zoom-zoomout.png") center center no-repeat;
            background-size: 100%;
            -moz-background-size: 100%;
        }
    }
    .sourcemap-tour-control-panel {
        z-index: 1008;
        width: 6em; height: 1.5em;
        background: @embed-color;
        .rounded(0.5em);
        position: absolute;
        bottom: 0.25em; left:0; right:0;
        margin:0 auto;
        padding:0.5em 0.25em;
        .box_shadow(0.25em,0.25em,0.25em);
                
        div {
            width: 2em;
            height: 1.5em;
            float: left;
            clear: none;
            background-size: 100%;
            -moz-background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0.8;
            &:hover {
                opacity: 1.0;
            }
        }
        .sourcemap-tour-prev {
            background: url("../images/embed-tour-prev.png") center center no-repeat;
            background-size: 100%;
            -moz-background-size: 100%;
        }
        .sourcemap-tour-play {
            background: url("../images/embed-tour-stop.png") center center no-repeat;
            background-size: 100%;
            -moz-background-size: 100%;
            &.stopped {
                background-image: url("../images/embed-tour-play.png");
            }
        }
        .sourcemap-tour-next {
            background: url("../images/embed-tour-next.png") center center no-repeat;
        }
    }
    .olPopup {        
        .olPopupContent {
            background:rgba(255,255,255,0.9) !important;
            .rounded(4px);
            position:relative;
            .popup-wrapper {                
                padding:0.5em;
                h4.popup-title {
                    border-bottom: 1px solid #ccc;
                    color:@brand-color;
                }
               h5.popup-placename {
                   font-weight: normal;
                   font-size:0.7em;
                   color: #555;
                   margin-bottom:0.6em;
               }
               .popup-more-link {
                   display:block;
                   .rounded(4px);
                   position:absolute;
                   text-align:center;
                   color:#eee;
                   font-size:0.8em;
                   text-decoration:none;
                   text-align:center;
                   bottom:0; left:0; right:0;
                   margin:0.25em;
                   padding:0.25em;
                   background:#999;
                   
               }   
            }
        }
    }
}
