/* include site-wide variables and fxns */
@import "sourcemap";

html { overflow:hidden; }
/* Ideal embed width/height right now is no less than 640 by 480 */

body#embedded-supplychain {
    font-size: 101%;
    width: 100%;height: 100%;
    margin: 0; padding: 0;
    background:#ddd;
    
    /* Main shell */
    #sourcemap-map-embed {        
        position:absolute;
        bottom:0; left:0;
        width: 100%; height: 100%; 
        background: url("../images/ajax-loader.gif") center center no-repeat #ddd; 
        margin: 0; padding: 0;
    }
    /* Main embed banner */
    #embed-banner {
        position:absolute;
        top:0; left:0;
        z-index:1000;
        height:1.5em; width: 100%;
        padding: 0; margin: 0;
        #embed-summary {
            .transparent_gradient();
            .box_shadow(0,0.25em,0.25em);            
            padding:0.5em;
            #embed-title {
                color: #fff;
                font-size:1.2em;
                text-transform: capitalize;
            }
            .user-avatar {
                float:left;
                margin-right: 0.5em;
                height:2em; width:2em;
                border:2px solid #777;
                overflow:hidden;
            }
            #embed-description {
                font-size:0.8em;
                color: #ccc;
            }
        }
        #share-list {
            position:absolute;
            top:0.5em; right:0.5em;
            li {
                float:left;
                display:block;
                padding:0; margin:0 0 0 0.5em;
                height:2em; width:2em;
                border:2px solid #777;
                cursor:pointer;
                &:hover {
                    border:2px solid #fff;
                }
            }
            li#facebook-share {
                background: url("../images/sharing-icons/facebook.png") center center no-repeat;  
                .background_size(170%, 170%);                                                   
            }
            li#twitter-share {
                background: url("../images/sharing-icons/twitter.png") center center no-repeat; 
                .background_size(170%, 170%);                                    
            }
            li#vimeo-share {
                background: url("../images/sharing-icons/vimeo.png") center center no-repeat;      
                .background_size(170%, 170%);                               
            }
        }
    }
    
    /* Overlay */
    #embed-overlay {
        z-index: 1010;
        margin: 0 auto;
        /*display:-moz-inline-stack;*/
        /*display:inline-block;*/
        max-height: 90%; max-width: 90%; 
        min-width:450px;
        .dark_gradient();
        .rounded(0.5em);
        position: absolute;
        padding: 1em 1%;
        overflow:hidden;
        color:#aaa;        
        text-align:justify;

        #overlay-title {
            color:#fff;
            border-bottom: 1px solid #666;
            margin-bottom: .5em;
            font-size: 1.6em;          
        }
        #overlay-placename {
            font-size: 0.8em;            
            margin-top: 0.25em;
            margin-bottom:0.5em;
            color:#ddd;
        }
        #overlay-content {
            overflow:hidden;                       
            width:80%;
            padding:0; margin:0;
            float:left;
            iframe, object {
                display:block;
                margin: 0;
                background:#444;
            }
            .youtube-player, .vimeo-player {
                background: url("../images/embed-video-icon.png") center center no-repeat #444;
            }
            .flickr-photoset {
                /*border: 1px solid #ddd;*/
                margin-top: 1em;
                img {
                    height: 5em;
                    float: left;
                    margin: .5em;
                }
            }
        }
        #overlay-nav {
            height: 100%;
            width: 8%;
            padding:0;
            float: left;
            opacity:0.5;
            a {
                text-decoration:none;
                font-size:0;
                display: block;
                height: 100%;
                width: 100%;
                border:none !important;
                &:active, &:hover, &:visited, &:link {
                   border:none !important;
                }
            }
            &:hover { opacity:1;}
        }
        #overlay-nav.prev {
            background: url("../images/embed-tour-prev.png") left center no-repeat;                        
            .background_size(100%, 100%);
            border-bottom-left-radius:0.25em;	      
            -moz-border-radius-bottomleft:0.25em;
            -webkit-border-bottom-left-radius:0.25em;
            border-top-left-radius:0.25em;	      
            -moz-border-radius-topleft:0.25em;
            -webkit-border-top-left-radius:0.25em;
            margin: 0 2% 0 0;            
        }
        #overlay-nav.next {
            background: url("../images/embed-tour-next.png") right center no-repeat;
            .background_size(100%, 100%); 
            border-bottom-right-radius:0.25em;	      
            -moz-border-radius-bottomright:0.25em;
            -webkit-border-bottom-right-radius:0.25em;
            border-top-right-radius:0.25em;	      
            -moz-border-radius-topright:0.25em;
            -webkit-border-top-right-radius:0.25em;
            margin: 0 0 0 2% ;
        }
        .content-nav {
            margin-top:1em;
            .content-item {
                float:left;
                width:2em; height:2em; 
                border:2px solid #888;
                margin:0.2em;
                a {
                    text-decoration:none;
                    font-size:0;
                    height:100%; width:100%;
                    display:block;
                }
                &:hover { border:2px solid @highlight-color; }
                &.selected { border: 2px solid #fff; }
                &:first-child { margin-left:0 !important; }
            }
            .description {
                background: url("../images/embed-text-icon.png") center center no-repeat;
                .background_size(100%, 100%);
            }
            .youtube-link, .vimeo-link {
                background: url("../images/embed-video-icon.png") center center no-repeat;
                .background_size(100%, 100%);
            }
            .flickr-setid {
                background: url("../images/embed-image-icon.png") center center no-repeat;
                .background_size(100%, 100%);
            }
        }
        .content {
            float: left;
            clear: none;
            margin: 0 .5em;
            overflow:hidden;
            width: 100%; 
            > .description {
            }
            > .block {
                overflow: hidden;
                margin-top: 1em;
            }          
            > .url {
                margin-top: 1em;
            }
            .block.greenfact {
                font-size:0.8em;
                color:#999;
                &:before {
                    color:#fff;
                    content: "Green Fact: ";
                }
            }
            .url.moreinfo a {
                display:block;
                text-align:center;
                background:#000;
                .rounded(0.5em);
                padding:0.5em;
                color:#fff;
                cursor:pointer;
                text-decoration:none;
            }
        }
    }
    .olLayerGooglePoweredBy, .olLayerGoogleCopyright, .olControlAttribution {
        z-index:1001 !important;
    }
    .olControlAttribution { bottom:0 !important; a { color:#fff}}
    .olControlPanel {
        height: 1.5em;
        left: 1em; bottom: 0.25em;
        background: @embed-color;
        .rounded(0.5em);
        padding:0.5em 0.25em;
        .box_shadow(0.25em,0.25em,0.25em);
    
         div {
            float: left;
            opacity: 0.8;
            clear: none;
            &:hover {
                opacity: 1.0;
            }
        }
        .olControlZoomToMaxExtentItemActive {
            width: 1.5em;
            height: 1.5em;
            background: url("../images/embed-zoom-zoommax.png") center center no-repeat;
            .background_size(100%, 100%);
            display: none;
        }    
        .olControlZoomInItemInactive {
            width: 1.5em;
            height: 1.5em;
            background: url("../images/embed-zoom-zoomin.png") center center no-repeat;
            .background_size(100%, 100%);
        }
        .olControlZoomOutItemInactive {
            width: 1.5em;
            height: 1.5em;
            background: url("../images/embed-zoom-zoomout.png") center center no-repeat;
            .background_size(100%, 100%);
        }
    }
    .sourcemap-tour-control-panel {
        z-index: 1008;
        width: 6em; height: 1.5em;
        background: @embed-color;
        .rounded(0.5em);
        position: absolute;
        bottom: 0.25em; left:0; right:0;
        margin:0 auto;
        padding:0.5em 2.25em;
        .box_shadow(0.25em,0.25em,0.25em);
        
        .tour-progress-bar {
            width:0%;
            height:0.25em;            
            background:#ccc;
            .box_shadow_inset(2px,2px,2px);
            .rounded(0.5em);
            position:absolute;
            left:10%; bottom:0.2em;            
        }
        div {
            width: 2em;
            height: 1.5em;
            float: left;
            clear: none;
            .background_size(100%, 100%);
            background-repeat: no-repeat;
            opacity: 0.8;
            &:hover {
                opacity: 1.0;
            }
        }
        .sourcemap-tour-prev {
            background: url("../images/embed-tour-prev.png") center center no-repeat;
            .background_size(100%, 100%);
        }
        .sourcemap-tour-play {
            background: url("../images/embed-tour-stop.png") center center no-repeat;
            .background_size(100%, 100%);
            &.stopped {
                background-image: url("../images/embed-tour-play.png");
            }
        }
        .sourcemap-tour-next {
            background: url("../images/embed-tour-next.png") center center no-repeat;
            .background_size(100%, 100%);
        }
    }
    .olPopup {        
        .olPopupContent {
            max-width: 16em;
            background: #ccc !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)) !important;
            background: -moz-linear-gradient(top,  #fff,  #ccc) !important;
            .rounded(.25em);
            position:relative;
            .popup-wrapper {                
                padding:0.5em;
                h4.popup-title {
                    border-bottom: 1px solid #ccc;
                    color:@brand-color;
                }
               h5.popup-placename {
                   font-weight: normal;
                   font-size:0.7em;
                   color: #555;
                   margin-bottom:0.6em;
               }
               .popup-description {
                   font-size:0.8em;
                   margin-bottom: 1em;
               }
               .popup-more-link {
                   display:block;
                   .rounded(0.25em);
                   position:absolute;
                   text-align:center;
                   color:#888;
                   font-size:0.8em;
                   text-decoration:none;
                   text-align:center;
                   bottom:0; left:0; right:0;
                   margin:0.25em 1em 0.5em 1em;
                   padding:0.25em;
                   border:1px solid #ccc;
                   .light_gradient();
                   &:hover {
                       .brand_gradient();
                       border:1px solid #fff;
                       color:#fff;
                   }
                   
               }   
            }
        }
    }

    #tileswitcher {
        z-index: 1008;
        overflow:hidden;
        cursor:pointer;
        position:absolute;
        bottom:0.25em;
        right:1em;
        width:2em;
        height:1.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        -webkit-box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
        box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
        padding:0.5em;
        &:hover {
            overflow:visible;
        }
        #current-tile {
            text-transform:capitalize;
            overflow:hidden;
            -webkit-border-radius: 0.5em;
            -moz-border-radius: 0.5em;
            border-radius: 0.5em;
            font-size:0.7em;
            position:absolute;
            bottom:0; left:0;
            width:100%;
            text-align:center;
            color:#ccc;
            background:rgba(0,0,0,0.8);
        }
        #available-tiles {
            z-index:1008;
            height:2.5em;
            display:block;
            position:absolute;
            top:0; right:3em;
            width:10.5em;
            padding:0; 

            li {
                display:none;
                margin-right:0.5em;
                float:left;
                width:2em;
                height:1.5em;
                -webkit-border-radius: 0.5em;
                -moz-border-radius: 0.5em;
                border-radius: 0.5em;
                -webkit-box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
                box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);
                padding:0.5em;
            }
        }
    }
    #tileswitcher:hover #available-tiles li {
        display:block;
    }
    #tileswitcher li#satellite, .satellite {
        background: rgba(30,30,30,0.6) url("../images/tile-sat-preview.png") center center no-repeat;
    }
    #tileswitcher li#styled, .styled {
        background: rgba(30,30,30,0.6) url("../images/tile-map-preview.png") center center no-repeat;
    }
    #tileswitcher li#terrain, .terrain {
        background: rgba(30,30,30,0.6) url("../images/tile-terrain-preview.png") center center no-repeat ;
    }
    
    #embed-dialog {
        display:none;
        height:2em;
        padding:1em;
        width:100%;
        background: #ccc !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)) !important;
        background: -moz-linear-gradient(top,  #fff,  #ccc);
        border-bottom:2px solid #444;
    }
    #watermark {
        display:none;
        height:100%; width:100%;
        background: url("../../../../assets/images/logo-light.png") center center no-repeat;
        text-align:center;
        position:absolute;
        top:0; bottom:0; left:0; right:0;
        z-index:0;
        opacity:0.05;      
    }
    #dimmed-overlay {
        display:none;
        height:100%; width:100%;
        background: rgba(0,0,0,0.8);
        text-align:center;
        position:absolute;
        top:0; bottom:0; left:0; right:0;   
        z-index: 1010;        
    }
}
