/* Sourcemap Stylesheet ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> */

/* Style Variables */
@brand-color: #009027;
@highlight-color: #C9FF23;
@background: #f4f4f4;
@heading-color: #3274d0;

/* Style Functions */
.brand_gradient {
    background:@brand-color;
    background:-webkit-gradient(radial, center center, 0, center center, 400, from(#22b249), to(@brand-color));
    background:-moz-radial-gradient(center 45deg, circle cover, #22b249 0%, @brand-color 100%);    
}
.neutral_gradient {
    background:#445460;
    background:-webkit-gradient(radial, center center, 0, center center, 400, from(#445460), to(#667682));
    background:-moz-radial-gradient(center 45deg, circle cover, #445460 0%, #667682 100%);    
}
.rounded(@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.box_shadow (@h: 1px, @v: 1px, @blur: 1px) {
    -webkit-box-shadow: @h @v @blur rgba(0, 0, 0, 0.2);
    -moz-box-shadow: @h @v @blur rgba(0, 0, 0, 0.2);
    box-shadow: @h @v @blur rgba(0, 0, 0, 0.2);
}
.box_shadow_inset (@h: 1px, @v: 1px, @blur: 1px) {
    -webkit-box-shadow: @h @v @blur rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: @h @v @blur rgba(0, 0, 0, 0.2) inset;
    box-shadow: @h @v @blur rgba(0, 0, 0, 0.2) inset;
}
/*html { overflow:hidden;}*/
/* Sourcemap Stylesheet ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> */
