#!/bin/bash

# env
export SOURCEMAP_ENV="production"

# db
export SMAP_DB="smap"
export SMAP_DBUSER="smap"
export SMAP_DBPASS="smap"
export SMAP_DBHOST="localhost"

export SOURCEMAP_DIR="/home/reed/devel/mit/sourcemap/smap/trunk/"

# for phing
export PHP_CLASSPATH="${SOURCEMAP_DIR}www/application/classes/"
export PHING_HOME="${SOURCEMAP_DIR}tools/"
