<!doctype html>  

<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Page Title</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="css/style.css?v=2">
  <link rel="stylesheet" href="embed.css?v=2">
 
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>

</head>

<body id="">
        <div class="hidden" id="embed-overview">
         <img class="user-avatar" src="http://www.gravatar.com/avatar/56b80ca11f9b256ad2b13de751c0ae9f?s=32">
         <h1><a href="">Ikea Sultan Alsarp Bed</a></h1>
         <div id="embed-meta">from <a href="">hock</a></div>
        </div>
        <div id="info-pane">
            <div id="info">
                <div id="info-close">x</div>
                <h1><a href="">Ikea Sultan Alsarp Bed</a></h1>
                <div class="hidden" id="embed-meta">from <a href="">hock</a></div>
                <p>Product description
                Bed frame panel: Particleboard, Foil
                Supporting rail: Solid pine
                Bottom panel: Fiberboard, Acrylic paint
                Bed base frame: Steel, Pigmented epoxy/polyester powder coating
                Midbeam: Steel, Pigmented powder coating
                Bed base slats: Beech veneer
                Ticking: 100 % cotton
                Filling: Polyurethane foam., Polyester/viscose (rayon) fiber wadding</p>
                <img src="images/test.jpg">
            </div>
        </div>
        <div id="map"></div>
        <a class="hidden" id="branding-link" href=""></a>
        <ul class="hidden" id="embed-actions">
            <li>Favorite <div class="icon"></div></li>
            <li>Share <div class="icon"></div></li>
            <li>Embed <div class="icon"></div></li>            
        </ul>
  
  <script src="embed.js"></script>
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); 
  <![endif]-->
  
</body>
</html>