body {
    background:url("../images/background.jpg") top center repeat #757351;
    font-family:Helvetica, arial, sans-serif;	  
    margin:0; padding:0;     
}
#wrapper {

}
#content {
    padding-top:20px;
    position:relative;
}
#content .center {
    margin:0 auto;
    width:1020px;
}
#content .relative {
	position:relative;
}
#content h1 {
    display:none;
}
#content #logo {
    float:left;
}
#content #info {
    width:600px;
    margin-top:10px;
    float:right;
    color:rgba(255,255,255,0.7);
    font-size:16px;
    text-align: right;
}
#content #info #socialmedia {
    display:block;
    padding:0; margin:0;
}
#content #info #socialmedia li {
    display:block;
    width:48px;
    height:48px;
    margin:10px 10px 10px 0;
    float:right;
    cursor:pointer;
	opacity:0.8;
}
#content #info #socialmedia li a {
	text-decoration:none;
	border:none;
	display:block;
	width:48px; height:48px;
}
#content #info #socialmedia li:hover {
	opacity:1;
}

#facebook {
    background:url("../images/Facebook.png") center center no-repeat;
}
#vimeo {
    background:url("../images/Vimeo.png") center center no-repeat;	        
}
#twitter {
    background:url("../images/Twitter.png") center center no-repeat;	        
}

#sourcemap-link {
	width:191px;
	height:48px;
    background:url("../images/sourcemap.png") center center no-repeat;	
    display:block;
    margin:0 0 0 10px;
    float:right;
    cursor:pointer;
	opacity:0.8;        
}
#sourcemap-link:hover {
	opacity:1;
}
#sourcemap-link a {
	width:191px;
	height:48px;
}

#content #orbits {
	display:none;
    position:absolute;
    top:-98px; left:0;
    width:1020px;
    height:890px;
    z-index:1000;
    pointer-events:none;
}
#contentoptions {
    position:absolute;
    top:169px; left:2px;
    width:300px;
    padding:0; margin:0;
}
#contentoptions li {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius:4px 4px 0 0;
    font-size:16px;
    background:rgba(255,255,255,0.9);
    color:#9e9b8c;
    font-weight:bold;
    display:inline;
    padding:10px 10px 5px 10px;
    margin:0 5px;
    cursor:pointer;
	opacity:0.8;
}
#contentoptions li:hover {
	opacity:1;
}
#map {
    z-index:100;
    margin-top:0px;
}
#cotton {
    position:absolute;
    bottom:0px;
    left:-100px;
    z-index:1000;
    width:300px;
    height:375px;
    background:top center no-repeat;
	background-image:url("../images/cotton-left.png");
    pointer-events:none;
}
#trailer-link {
	padding:10px 0;
	width:100%;
	font-size:20px;
    background-color:#ACA893;
	color:#fff;
	height:20px;
	text-align:center;
	cursor:pointer;
	border-radius: 0 0 4px 4px;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3);
}
#trailer-link:hover {
	color:#000;
	background:#fff;
}

iframe {
	margin:0 auto;
    overflow:hidden;
    z-index:10;
    position:relative;
	background:#000;
}
#trailer {
	visibility:hidden;
}
.trailer-placeholder{
	width:900px;
	height:484px;
    background:url("../images/trailer-preview.jpg");
}
iframe#sourcemap {
	background:#fff;
	visibility:hidden;
}
.placeholder {
	height:574px;
	width:100%;
	background:url("../images/preload-map.jpg") left center no-repeat #fff;
}
#overlay {
	display:block;
	position:absolute;
	top:170px;
	left:0; right:0;
	width:900px;
    background: rgba(0,0,0,0.95);
	padding:20px;
	margin:0 auto;
	z-index:1200;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius:5px;
	border:1px solid #A2A2A2;
	-webkit-box-shadow: 3px 1px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 1px 10px rgba(0,0,0,0.2);
    box-shadow: 3px 1px 10px rgba(0,0,0,0.2);    
    color:#6b6759;
    font-size:20px;
}
#overlay .close{
    background: url("../images/close-grey.png") right center no-repeat;
    height: 27px; width: 27px;
    position: absolute;
    top: 4px;
    right: 9px;
	z-index:1400;
    cursor: pointer;
}

#cotton-diagram {
    position:absolute;
    top:70px; right:350px;
    margin:10px auto;
    width:450px;
    z-index:1000;
    pointer-events:none;
}
.hidden {
    position:absolute;
    top:-5000px;
    left:-5000px;
}
#additionalcontent {
    margin:20px 0 0px 0;
   	color:rgba(255,255,255,0.7);
    font-size:16px;
}
#additionalcontent a {
	color:#fff;
}

#footer {
    color:#9e9b8c;
    margin:0px 0 30px 0;
    font-size:14px;
}
#footer a, .credits {
	color:#9e9b8c;
}
#additionalcontent .credits a {
	color:#cfcebf;
}
.clear {
    clear:both;
}