body {
    background:url("../images/background.png") top center repeat #757351;
    font-family:Helvetica, arial, sans-serif;	  
    margin:0; padding:0;     
}
#wrapper {
    margin:0 auto;
    width:1020px;
}
#content {
    padding-top:20px;
    position:relative;
}
#content h1 {
    display:none;
}
#content #logo {
    float:left;
}
#content #info {
    width:600px;
    margin-top:10px;
    float:right;
    color:rgba(255,255,255,0.7);
    font-size:16px;
    font-family: 'Puritan', sans-serif;
    text-align: right;
}
#content #info #socialmedia {
    display:block;
    padding:0; margin:0;
}
#content #info #socialmedia li {
    display:block;
    width:48px;
    height:48px;
    margin:10px 10px 10px 0;
    float:right;
    cursor:pointer;
	opacity:0.8;
}
#content #info #socialmedia li a {
	text-decoration:none;
	border:none;
	display:block;
	width:48px; height:48px;
}
#content #info #socialmedia li:hover {
	opacity:1;
}

#facebook {
    background:url("../images/Facebook.png") center center no-repeat;
}
#vimeo {
    background:url("../images/Vimeo.png") center center no-repeat;	        
}
#twitter {
    background:url("../images/Twitter.png") center center no-repeat;	        
}
#content #orbits {
	display:none;
    position:absolute;
    top:-98px; left:0;
    width:1020px;
    height:890px;
    z-index:1000;
    pointer-events:none;
    background:url("../images/orbits.png") center 65px no-repeat;
}
#contentoptions {
    position:absolute;
    top:169px; left:2px;
    width:300px;
    padding:0; margin:0;
}
#contentoptions li {
    font-family: 'Puritan', sans-serif;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius:4px 4px 0 0;
    font-size:16px;
    background:rgba(255,255,255,0.9);
    color:#9e9b8c;
    font-weight:bold;
    display:inline;
    padding:10px 10px 5px 10px;
    margin:0 5px;
    cursor:pointer;
	opacity:0.8;
}
#contentoptions li:hover {
	opacity:1;
}
#map {
    width:1020px;
    z-index:100;
    margin-top:40px;
    background:#000;
}
#map #cotton {
    position:absolute;
    top:392px;
    left:825px;
    z-index:1000;
    width:300px;
    height:375px;
    background:top center no-repeat;
	background-image:url("../images/cotton-right.png");
    pointer-events:none;
}
iframe {
    overflow:hidden;
    z-index:10;
    position:relative;
}
#trailer {
    
}
#sourcemap {

}
#overlay {
	display:none;
	position:absolute;
	top:280px;
	left:0; right:0;
	width:500px;
	height:140px;
    background: rgba(255,255,255,0.95);
	padding:20px;
	margin:0 auto;
	z-index:1200;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius:5px;
	border:1px solid #A2A2A2;
	-webkit-box-shadow: 3px 1px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 1px 10px rgba(0,0,0,0.2);
    box-shadow: 3px 1px 10px rgba(0,0,0,0.2);    
    font-family: 'Puritan', sans-serif;
    color:#6b6759;
    font-size:20px;
}
#overlay .close{
    background: url("../images/close-grey.png") right center no-repeat;
    height: 27px; width: 27px;
    position: absolute;
    top: 4px;
    right: 9px;
    cursor: pointer;
}

#cotton-diagram {
    position:absolute;
    top:110px; right:200px;
    margin:10px auto;
    width:450px;
    z-index:1000;
    pointer-events:none;
}
.hidden {
    position:absolute;
    top:-5000px;
    left:-5000px;
}
#additionalcontent {
    margin-top:10px;
   	color:rgba(255,255,255,0.7);
    font-size:16px;
    font-family: 'Puritan', sans-serif;
}
#footer {
    font-family: 'Puritan', sans-serif;
    color:#9e9b8c;
    margin:10px 0;
    font-size:14px;
}
.clear {
    clear:both;
}