@import "sourcemap";

/* MAP STYLES 
 * -------------------------------------------------------------- */

#map, #sourcemap-map-view {
    background:url("/assets/images/empty-tile.png");
    overflow:hidden; 
    height:600px;    
    margin:0 0 0 0px;
    border:1px solid #ccc;
    border-top:none;
    > div > div {
        z-index:0 !important;
    }
}


/* Dialog */
#dialog {
    .rounded(.5em);
    z-index: 1012;
    position: absolute;
    top: 50%; left: 50%;
    height: 440px; width: 550px;
    margin-top: -240px; margin-left: -275px; 
    display:none;
    background-color: #fff;
    padding: .65em 1.5em;
    overflow-x:hidden;
    text-align:justify;
    #user-loc-dialog {
        text-align: center;
        p.current-user-loc {
            font-size: 1.8em;
        }
        input.text-input {
            background-color: #eee;
            border: none;
            border: 1px solid #ccc;
            font-size: 1.5em;
            margin: .5em auto .5em auto;
            padding: .1em;
        }
        button {
            background-color: #000;
            color: #eee;
            font-size: 1.8em;
            border: none;
            margin: 0 .2em 0 .2em;
        }
        p.error {
            font-size: 1.8em;
            color: red;
        }
    }
    #detail-title{
        margin-top:0;
    }
    #detail-close{
        background: url("../images/close.png") right center no-repeat;
        .background_size(1.2em, .75em);
        height: .75em;
        width: 1.2em;
        position: absolute;
        top: 6px;
        right: 10px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    #detail-content {
        overflow:hidden;                       
        padding:0 0 20px 0; margin:0;
        float:left;
        iframe, object {
            display:block;
            margin: 0;
            background:#444;
        }
        h1 {
            font-size:1.5em;
            border-bottom:1px solid #ccc;
        }
        h2{
            font-size: 1.5em;
        }
        h3{
            font-size: 1em;
            font-style: italic;
            color:#aaa;
            margin-bottom: 15px;
        }
        .youtube-player, .vimeo-player {
            background: url("../images/embed-video-icon.png") center center no-repeat #444;
        }
        .flickr-photoset {
            /*border: 1px solid #ddd;*/
            margin-top: 1em;
            img {
                height: 5em;
                float: left;
                margin: .5em;
            }
        }
    }
    #detail-nav {
        display:none;
        height: 90%;
        width: 8%;
        padding:0 1%;
        float: left;
        opacity:0.5;
        a {
            text-decoration:none;
            font-size:0;
            display: block;
            height: 100%;
            width: 100%;
            border:none !important;
            &:active, &:hover, &:visited, &:link {
               border:none !important;
            }
        }
        &:hover { opacity:1;}
    }

    .content-nav {
        clear:both;
        margin:0;
        position:absolute;
        bottom:20px; left:30px;
        .content-item {
            margin: 0 10px 0 0;
            float: left;
            a {
                font-size:0.8em;
                text-decoration:none;
                display:block;
            }
            &.selected a { text-decoration:underline; }
            &:hover { text-decoration:underline; }
        }
    }
    .content {
        margin: 0 .5em;
        overflow:hidden;
        width: 100%; 
        > .description {
        }
        > .block {
            overflow: hidden;
            margin-top: 1em;
        }          
        > .url {
            margin-top: 1em;
        }
        .block.greenfact {
            font-size:0.8em;
            &:before {
                content: "Sustainability Fact: ";
            }
        }
        .url.moreinfo a {
            display:block;
            text-align:center;
            padding:0.5em;
            cursor:pointer;
            text-decoration: underline;
        }
    }
}

/* Popups and Openlayers */
.olPopup {
    font-size: 85%;
    .olPopupContent {
        background: #fff !important;
        position:relative;
        overflow: hidden;
        padding: 13px;
        .rounded(.5em);
        .popup-title {
            .header-font;
            font-weight: bold;
            padding-left: .2em;
        }
        .popup-address {
            padding-left: .2em;
        }
        .popup-description {
            font-size:0.8em;
            margin: 1em 0;
            max-width: 16em;
            padding-left: .25em;
            margin: 0;
        }
        .popup-icons {
            float:right;
            margin-top: .85em;
            margin-left: .5em;
            margin-right: .5em;
            display:block;
            width: auto;
            color:#333;
            font-size:0.8em;
            background:#fff;
        }
        .popup-buttons {
            border-top:1px solid #aaa;
            margin-top:15px;            
            > a {
                margin-top: .85em;
                margin-left: .5em;
                margin-right: .5em;
                display:block;
                float: left;
                clear: none;
                width: auto;
                color:#333;
                text-align:center;
                font-size:0.8em;
                text-decoration:underline;
                text-align:center;
                background:#fff;
                &:hover {
                    color:#eeeeee;
                    background-color: #444;
                    text-decoration: underline;
                }
            }
        }
    }
}

.olLayerGooglePoweredBy, .olLayerGoogleCopyright, .olControlAttribution {
    z-index:1001 !important;
    bottom: 0;
    float:left;
}
.olControlAttribution { 
    bottom:0 !important; 
    font-size:0.6em !important;
    color:#999;
    a {
        text-decoration:underline;
        color:#999;
    }  
}

/* Map Dock */
.sourcemap-dock {
    @dock-height: 3.25em;
    z-index: 1008;
    width: 100%;
    bottom: 0; left: 0;
    position: absolute;
    height: @dock-height;
    overflow: hidden;
    text-align: center;
    pointer-events: none;
    .sourcemap-dock-outerwrap {
        float: left;
        position:relative;
        left: 50%;
        .sourcemap-dock-content {
            float:left;
            position: relative;
            left: -50%;
            > div{
                background:rgba(255,255,255,.6);
                border:2px solid rgba(255,255,255,1);
                .background_size(100%,100%);
                margin: .5em;
                display: inline-block;
                cursor: pointer;
                pointer-events: all;
                text-align: center;
                opacity: 0.85;
                .rounded(8px);
                
                &:hover {
                    background:rgba(255,255,255,1);
                    border:2px solid #fff;
                }
                img{
                    height: @dock-height - 2em;
                }
                .content {
                    height: @dock-height - 2em;     
                    line-height: @dock-height - 2em;
                }
            }
            .control{
                padding: .2em .5em .2em .5em;
                vertical-align:top;
                &.toggle {
                    &.active {
                        background-color: #333;
                        color: #eee;
                        &.co2e {
                            background-color: #ffa500;
                            color: #333;
                        }
                        &.weight {
                            background-color: #804000;
                            color: #eee;
                        }
                        &.water {
                            background-color: #004080;
                            color: #eef;
                        }
                        
                    }
                }
                &.firstSpacer {
                    width:0.1em;
                    border:none;
                    height: 16px;       
                    background:none;
                }
                &.secondSpacer {
                    width:5em;
                    border:none;
                    height: 16px;       
                    background:none;
                }
            }
        }
    }



}

#watermark {
    display:block;
    width: 110px;
    height: 34px;
    background: url("../images/watermark.png") center center no-repeat;
    .background_size(100%, 100%);
    text-align:center;
    position:absolute;
    bottom:1em; left:0;
    z-index:0;
}

#curtain {
    display:none;
    height:100%; width:100%;
    background: none; 
    text-align:center;
    position:absolute;
    top:0; bottom:0; left:0; right:0;   
    z-index: 1010;        
}
#curtain.hidden {
    z-index:0;
}

.map-banner { 
    position:absolute;
    top:0; left:0; right:0;
    z-index:1000;
    
    .map-banner-content {
        .body-font;
        font-size:0.9em;
        background: #fff;
        .box_shadow(2px,2px,2px,2px);
        -webkit-border-bottom-left-radius:4px;
        -moz-border-radius-bottomleft:4px;
        -webkit-border-bottom-right-radius:4px;
        -moz-border-radius-bottomright:4px;
        background:#ebebeb;
        background: -moz-linear-gradient(top,rgba(235,235,235,1),rgba(235,235,235,.6));       
        background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(235,235,235,1)), to(rgba(235,235,235,.6)));
        padding: .5em; 
        height: 1em;
        margin: 0 auto;
        width:100%;
        div {
            float:left;
            padding-right:1.5em;
            &.right {
                padding-right:0;
                float:right;
            }
        }

    }
    .map-summary {
        font-weight:bold;
    }
    .map-description {
        color: #000;
        text-align: center;
        a {
            color:#000;
            text-decoration:underline;
        }
    }
    .map-status {
        text-align: right;
        .msg {

        }
        .good-news {

        }
        .bad-news {
            color: red;
        }
    }
    .map-share {
        text-align: right;
    }
    .banner-share-link {
        
    }
    .banner-favorite-link {
        &.marked {
            font-weight:bold;
        }
    }
}
#share-dialog {
    .preview-map {
        width:100%;
        height:281px;
    }
    .embed-link {
        padding:2px 5px;
        display:block;
    }
    .embed-code {
        padding:5px;
        width:536px;
        border:2px solid #ccc;
        font-size:0.8em;
    }
}


#map-dialog {
    display:none;
    height:2em;
    padding:1em;
    width:100%;
    background: #ccc !important;
    border-bottom:2px solid #444;
}

#map-actions {
    position:absolute;
    top:10px;
    right:15px;
    li {
        .rounded(8px);
        text-align:center;
        cursor:pointer;
        display:block;
        margin:5px 0;
        padding:5px;
        border:2px solid #fff;
        color:@brand-color;
        background:rgba(255,255,255,0.6);
        &:hover {
            color:#333;
            .icon {
            }
        }
        .icon {
            margin: 0 auto;
        }
    }
}
#user-actions {
    float:left;
    margin-left:10px;
}
#favorite-button {
    float:left;
    background:url("../images/favorite-button.png");
    background-position: 0 0; width: 32px; height: 31px;     
}
#favorite-button:hover {
    background-position: 0 -81px; width: 32px; height: 31px;      
}
#metrics {   
    float:right;
    width:220px;
    color:#fff;
    font-weight:bold;
    margin:0;
    li {
        text-align:right;
        margin:0 5px;
        padding:0 5px;
        font-size:14px;
        border-left:1px solid #fff;    
        display:block; float:right;
        .metric-unit {
            font-size:0.8em;
        }
        &:last-child {
            border:none; padding:0; margin:0;
        }
    }
}
#supplychain-receipt {
    text-align:right;
    ul {
        padding:0; margin:0;
        list-style:none;
    }

    .receipt-item {
        border-top:1px solid #ccc;
        padding-top:5px;
        margin-top:5px;
        &:first-child {
            border:none;
            padding:0;
            margin:0;
        }
        h3 {
            font-size:1.4em;
        }
        .metric-value {}
        .metric-unit {
            font-size:0.8em;
            color:#333;
        }
    }

    .receipt-item.minor, .receipt-item.minor h3 { font-size:1em;}
    .receipt-summary-bar {
        .segment {
            height:15px;
            float:left;
        }
        .segment.embodied-carbon {
            background:#ccc;
        }
        .segment.transport-carbon {
            background:#667683;
        }
    }
}

/* editor stuff */
.load-catalog-button {
   background:#eee;
   border:1px solid #ccc;
   font-size:0.6em;
   width:200px;
   float:right;
   text-align:center;
   margin:0.5em 0;
   padding:0.5em;
   color: #555; 
   
}
#catalog-close {
    color: #2d78af;
    cursor:pointer;
    display:inline;
}
#catalog-search {
    fieldset{ 
         vertical-align: middle; 
         margin-top: 3px;
         border: 1px solid #000;
         height: 18px;
         font: normal 12px arial,helvetica,sans-serif;
         overflow:hidden;
         #catalog-search-button{
             float:right;
             color: #aaa;
             border:0;
             border-left: 1px solid #000;
             text-transform: lowercase;
             background-color: #fff;
             background-image: -moz-linear-gradient(top,white,#EFEFEF);
             background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#EFEFEF));
             margin: 0;
             vertical-align:middle;
             height: 18px;
         }
         label{
             display:block;
             overflow:hidden;
         }
         input#catalog-search-field{
             border: 0;
             width: 100%;
             outline:none;
             -webkit-appearance: none;
         }
     }
}
.catalog-pager {
    text-align:center;
    font-size:0.8em;
    color:#2d78af;
    margin:0.5em 0;
    padding:0.2em 0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    .catalog-pager-prev, .catalog-pager-next {
        padding:0.5em;
        cursor:pointer;
    }
}
.catalog-content {
    
}
.catalog-items {
    margin:0;
}

.catalog-item {
    font-size:0.6em;
    cursor: pointer;
    padding: .4em;
    width: 57.2em;
    height:8em;
    float:left;
    margin: .5em 0;
    list-style:none;
    display:block;
    position:relative;
    border:1px dotted #888;
    &:hover {
        border:1px dotted #000;
    }
    .cat-item-name {
        font-size:1.2em;
        height:1.8em;
        font-weight:bold;
        overflow:hidden;
    }
    .cat-item-category {
        
    }
    .cat-item-footprints { 
        position:absolute;
        bottom:0;
        right:0;
        width:100%;
        font-size:0.8em;
        color:#888;
        display:block;
        border-top:1px solid #ccc;
        line-height:1.2em;
        .footprint-label {
            display:block;
        }
        .cat-item-co2e {
            float:left; padding:0.5em;
            text-align:center;
        }
        .cat-item-energy {
            float:left; padding:0.5em;
            text-align:center;
        }
        .cat-item-waste {
            float:left; padding:0.5em;
            text-align:center;
        }
        .cat-item-water {
            float:left; padding:0.5em;
            text-align:center;
        }
    }
}

#qrcode-badge {
    padding:0 5px 0 0;
    margin:5px 0;
    .qrcode {
        float:left;
        width:70px; height:70px;
    }
    .qrcode-about {
        float:left;
        width:220px;
        padding:10px;
        margin-left:10px;
        border-left:1px solid #ccc;
    }
}

.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em .5em 0; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-state-active { text-decoration:underline; }
