/* EMBED STYLES  
 * -------------------------------------------------------------- */ 

html { overflow:hidden; }
/* Ideal embed width/height right now is no less than 640 by 480 */

body#embedded-supplychain {
    width: 100%;height: 100%;
    margin: 0; padding: 0;
    background:#ddd;

    #sourcemap-map-embed {        
        position:absolute;
        bottom:0; left:0;
        width: 100%; height: 100%; 
        background: url("../images/ajax-loader.gif") center center no-repeat #ddd;
        margin: 0; padding: 0;
    }
    
    #map-banner{
        padding: 10px 0;
        div{ padding: 0 10px; }
        #map-summary,
        #map-description{ 
            float: left;
        }
        #map-share{ 
            float: right;
        }
    }
}
