/* include site-wide variables and fxns */
@import "sourcemap";
@import "grid";

/* PAGE STYLES 
 * -------------------------------------------------------------- */

html,body { height:100%;}

/* Sticks the footer to the bottom of the page */

#footer, .push {
    height: 50px;
    clear:both;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    font-size:1.2em;
}

body {
    .body-font;
    font-size:1em;
    line-height:1em;
    margin:0 auto;
    background: #fff;
    /* no gradient here. please. */
}

h1,h2,h3,h4,h5,h6{
    .header-font;
    margin: .25em 0;
    font-weight: normal;
    line-height:1.4em;
}
h1 { font-size: 2.5em; }
h2 { font-size: 1.3em; border-bottom: 1px solid #ccc;}
a { text-decoration:none;}

p{ 
    font-size: .8em; 
    line-height: 1.4em;
}

ul{
    list-style: square;
    margin-left: 1em;
    font-size: .8em; 
    line-height: 1.4em;
}

img a:hover{
    border: 0;
    vertical-align: middle;
    text-underline: none;
}

button::-moz-focus-inner {
}

a{
    @link-color: #2d78af;
    color: @link-color;
    text-decoration: none;
    &:visited{
        color: @link-color;
    }
    &:hover{
        text-decoration: underline;
    }
}

/* BRANDING & MASTHEAD 
 * -------------------------------------------------------------- */

#masthead {
    padding-top: .5em;

    font-size:95%;
    line-height: 12px;
    height: 72px;

    #site-title {
        display:none;
    }
    #header{
        margin-top: 24px;
        ul.nav{
            font-size:0.8em;
            float:right;
            list-style:none;
            margin-top: 1px;
            li{
                float:left;
                text-align: right;
                margin: 2px 0 0 1em;
                &.first{ margin: 2px 0 0 40px; }
                a {
                    text-transform: lowercase;
                }
            }
        }
    }
    fieldset{ 
        vertical-align: middle; 
        margin-top: 3px;
        border: 1px solid #000;
        height: 18px;
        font: normal 12px arial,helvetica,sans-serif;
        overflow:hidden;
        button{
            float:right;
            color: #aaa;
            border:0;
            border-left: 1px solid #000;
            text-transform: lowercase;
            background-color: #fff;
            background-image: -moz-linear-gradient(top,white,#EFEFEF);
            background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#EFEFEF));
            margin: 0;
            vertical-align:middle;
            height: 18px;
        }
        label{
            display:block;
            overflow:hidden;
        }
        input#search{
            border: 0;
            width: 100%;
            outline:none;
            -webkit-appearance: none;
        }
    }
    #livesearch{
        .header-font;
        border: 1px solid #333;
        background: #fff;
        z-index: 999;
        display:none;
        width: 400px; 
        line-height: 26px;
        ul {
            list-style:none;
            margin: 0;
            li {
                float:left;
                width: 100%;
                padding: 10px 0;
                &:hover{
                    background:#eee;
                    cursor: pointer;
                }
                &.more {
                    .body-font;
                    font-size:0.8em;
                    clear: both;
                    text-transform: lowercase;
                    border-top: 1px solid #333;
                    text-align:center;
                }
            }
            .search-result {
                position: relative;
                
                .search-link {
                    color: #333;
                    position:absolute; 
                    width:100%;
                    height:100%; 
                    top:0;
                    left: 0; 
                    z-index: 1;  
                    &:hover{
                        text-decoration: none;
                    }
                }
                .search-details {          
                    float:left;        
                    width: 200px;
                    padding: 0 20px;
                      
                    .search-title {
                        display:block;
                    }
                    .search-author {
                        color: #888;
                        font-style: italic;
                        a {
                            color: #888;
                        }
                    }
                    .search-date {
                        color: #888;
                        font-style: italic;
                        a {
                            color: #888;
                        }
                    }
                }
                .search-preview {
                    float:left;
                    padding-left: 20px;
                    width: 120px;
                    .search-preview-map {
                        width: 100%;
                    }
                }                
            }
        }
    }
}


/* PAGE STYLES 
 * -------------------------------------------------------------- */

#featured-maps {
    .box_shadow(0, 2px, 2px);    
    
    height: 339px;
    border-top:2px solid #ccc;
    background:rgba(185,211,234,1);
    
    #featured-slider {
        .featured-item {
            .featured-content {
                .featured-preview-map {
                    float:left;
                    width:620px;
                    max-height:340px;
                }
                .featured-description {
                    width: 314px;
                    float:right;
                    .featured-title {
                        padding-left:35px;
                        font-size: 2em;
                        font-weight: normal;
                        border:0;
                        a {
                            color:rgba(0,0,0,0.8);
                        }
                    }
                    .featured-teaser {
                        padding-left:35px;                        
                        font-size:0.8em;
                    }
                    .featured-author {
                        padding-left:35px;
                        font-size:0.8em;
                        color: rgba(0,0,0,0.5);
                        a {
                            color: rgba(0,0,0,0.5);
                            text-decoration:underline;
                        }
                        
                    }
                }
            }
        }
    }
}


#site-description {
    #site-tagline { margin-top:0; }
    #site-blurb {
        font-size:0.8em;    
        line-height:1.4em;
    }
}

#popular-maps {
    .preview-map-item {
        .preview-badge {
            .preview-map {
                border: 1px solid #7e7e7e;
                &:hover {
                 border-color:#000;   
                }
            }
        }
        .preview-title {
            .body-font;
            line-height:1.5em;
            margin-bottom:0;
        }
        .preview-author {
            .body-font;
            margin-top: 0;
            font-size:0.8em;
            color:#888;
            a {
                color:#888;
                text-decoration:underline;
            }
        }
        .preview-teaser {
            .body-font;
            margin-top: 0;
            font-size:0.8em;
        }       
    }
}
#recent-maps {
    .preview-map-section {
        margin-bottom:1.5em;
        .preview-map-item {
            font-size:0.8em;
            .preview-badge {
                .preview-map {
                    border: 1px solid #7e7e7e;
                    &:hover {
                     border-color:#000;   
                    }
                }
            }
            .preview-title {
                .body-font;
                line-height:1em;
                margin-bottom:0;
            }
            .preview-author {
                .body-font;
                margin-top: 0;
                font-size:0.6em;
                color:#888;
                a {
                    color:#888;
                    text-decoration:underline;
                }
            }
            .preview-teaser {
                .body-font;
                margin-top: 0;
                font-size:0.8em;
            }       
        }
    }
}

.preview-map-section{
    a:visited{
        color: #44295a;
    }
}

#category-list {
    margin-bottom:2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .5em;
    height:.75em;
    background-image: -moz-linear-gradient(top,white,#EFEFEF);
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#EFEFEF));
    a{
        padding-left: 10px;
        border-left: 1px solid #ccc;
        &.last{
            padding-right: 10px;
            border-right: 1px solid #ccc;
        }
    }
    #category-list-content{
        float:left;
        padding: 0 10px;
    }
}




#browse-list {
    margin-top:2em;
    
    .preview-title {
        .body-font;
        line-height:1em;
        margin-bottom:0;
    }
    .preview-author {
        .body-font;
        margin-top: 0;
        font-size:0.6em;
        color:#888;
        a {
            color:#888;
            text-decoration:underline;
        }
    }
    .preview-badge {
        .preview-map {
            border: 1px solid #7e7e7e;
            &:hover {
             border-color:#000;   
            }
        }
    }
}

#user-profile {
    .user-name {
        text-transform:capitalize;
    }
    .user-title {

    }
    .user-gravatar {
        float:left;
        padding-right:1em; 
    }
    .user-details {
        font-size:0.8em;
        float:left;
        list-style:none;
    }
}
#user-stream {
    .date {
        .body-font;
        font-size:0.8em;
    }
    .event {
        line-height:1.2em;
        font-size:0.8em;
    }
}
#user-map-list, #search-results {
    font-size:0.8em;
    .user-map-preview {
        
    }
    .user-map-title {
        .body-font;
        border:none;
        margin-top:0.5em;
        margin-bottom:0;
    }
    .user-map-teaser {
        .body-font;
    }
    .user-map-details {
        .body-font;
        font-size:0.8em;
        color:#888;
    }
    .map-controls {
        margin-top:0.5em;
        text-align:right;
    }
}

#document-content {
    .body-font;
    font-size:0.8em;
    #document-title {
        .header-font;
        border-bottom: 1px solid #ccc;
    }
    h2,h3,h4,h5 {
        border-bottom:0;
        margin-top:1em;
    }
    h4,h5 {
        .body-font;
    }
}
/* FORM STYLES 
 * -------------------------------------------------------------- */

@form-height: 1em;
@hover-color: #FBF7D5;
@form-width: 18em;

.sourcemap-form{
    fieldset {
    border: 1px dotted #ccc;
    padding:10px;
    margin-bottom:20px;
    }
    legend {
        font-size: 130%;
        letter-spacing: -1px;
        line-height: @form-height;
        color: #333;
        padding: 0px 13px;
        font-family: "PT sans narrow";
    }
    h1 {
        font-size: 135%;
        letter-spacing: -1px;
        font-weight: normal;
        line-height: 1.1;
        color:#333;
    }
    label {
        width:140px;
        margin: 3px 2px 0 0;
        padding: 11px 0 0 6px;
        float:left;
        display: block;
        font-size: 85%;
        letter-spacing: -1px;
        font-weight: normal;
        line-height: 1.1;
        color:#666;
        clear: both;
    }
    .form {
        margin:0;
        padding:0;
    }
    .holder {
        background-color:#fff;
    }
    .sourcemap-form-textbox {
        width:@form-width;
        float:right;
        margin-top:3px;
        padding-left:5px;
        .textbox {
            background-image: url(../images/16t.png);
            background-color:#FFFFFF;
            background-repeat: no-repeat;
            background-position: 0 5px;
            width:@form-width + 3;
            font-size: 80%;
            color: #999999;
            padding:3px 5px 3px 19px;
            &.edited{
                color: #333;
            }
        }
    }
    .sourcemap-form-checkbox{
            float:left;
            padding: 12px 0 5px;
    }
    .status {
        width: 25px;
        height: 24px;
        float:right;
        display:block;
        margin-top:2px;
        border: 1px solid #ccc;
        background: url('../images/form-active.png') center center no-repeat;
        &.invalid{
            background: none; 
        }
    }
    .sourcemap-form-select {
        float: right;
        padding: 10px 0;
        select{
            width:@form-width;
        }
    }
    input{
        border: 1px solid #ccc;
    }
    
    .textbox:focus, .textbox:hover,
    .username:focus, .username:hover,
    .password:focus, .password:hover,
    {
        background-color:@hover-color;
    }

    .username {
        background-image: url(../images/16m.png);
        background-repeat: no-repeat;
        background-position:left;
        background-color:#FFFFFF;
        width:@form-width;
        font:normal 18px Arial;
        color: #999999;
        padding:3px 5px 3px 19px;
        &.edited{
            color: #333;
        }
    }
       
    .password {
        background-image: url(../images/16s.png);
        background-repeat: no-repeat;
        background-position:left;
        background-color:#FFFFFF;
        width:@form-width;
        font:normal 18px Arial;
        color: #999999;
        padding:3px 5px 3px 19px;
        &.edited{
            color: #333;
        }
    }

    .sourcemap-form-button {
        width:@form-width;
        float:right;
        text-align:right;
        height:@form-height;
        padding:5px 0 3px;
        clear: both;
        margin-bottom: 10px;
    }
    .buttons {
        background: #eee;
        font-size:12px; 
        color: #555; 
        padding: 6px 14px;
        border-width: 1px solid #333;
        text-decoration: none;
        text-transform:uppercase;
        font-weight:bold;
    }
    .sourcemap-form-error{
        float:left;
        font-size: 70%;
        color: #888;
        margin-left:10px;
    }

    // Optional vertical style for wide/complex forms

    &.vertical {
        label{
            width: auto;
        }
        .sourcemap-form-textbox{
            width:100%;
            .textbox{
                width: 94%;
                padding: 3px 0 5px 20px;
            }
        }
        .sourcemap-form-select{
            width:100%;
        }
        .sourcemap-form-button {
        }
    }
}

.sourcemap-form-compact {
    input[type=text], input[type=password] {
        border: 1px solid #888;
    }
    .textbox {
        padding: 0;
        margin: 0;
    }
}


/* MAIN CONTENT 
 * -------------------------------------------------------------- */

#page-navigation {
    margin:0 auto;
    padding:5px 10px;
    color:#ffffff;
    font-weight:bold;
    font-size:0.6em;
    h2 {
        padding-top:8px;
        float:left;
        color:#fff;
    }
}


/* SUPPLYCHAIN 
-------------------------------------------------------------- */

#supplychain-title {
    color:#000;
    font-size:1.4em;
}
#supplychain-description {}
#qrcode-badge {
    padding:0 5px 0 0;
    margin:5px 0;
    .qrcode {
        float:left;
        width:70px; height:70px;
    }
    .qrcode-about {
        float:left;
        width:220px;
        padding:10px;
        margin-left:10px;
        border-left:1px solid #ccc;
    }
}
.user-avatar {
    .rounded(4px);
    float:left;
    margin:5px 5px 5px 0;
    height:32px; 
    width:32px;
}
#creation-meta {}



/* SECONDARY MAP CONTENT 
 * -------------------------------------------------------------- */

#map-secondary-content {}

#discussion-section {
    float:left; 
    width:80%;
    padding:20px 1% 10px 0;
    h3 {
        font-size:1.2em;
    }
    h4 {
        .body-font;
    }
    #comments {
        list-style:none;
        padding:10px 0 0 0;
        margin:10px 0 0 0;
        border-top:1px solid #eee;

        .comment {
            .comment-meta {
                .rounded(4px);
                border:1px solid #ccc;
                background:#eee;
                margin-bottom:5px;
                .user-avatar {
                    margin:2px;
                }
                .comment-meta-text {
                    float:left;
                    padding-top:10px;
                }
            }
            .comment-body {
                margin-bottom:10px;
            }
        }
    }

    #comment-form {
        textarea {
            width:100%;
            &:focus { outline: none; }        
        }
    }
    #comment-submit {
        float:right;
    }
}
#linking-section {
    width:18%;
    float:right;
    padding:20px 0 10px 1%;
    h3  {
        margin-top:10px;
        &:first-child {
            margin-top:0;
        }
    }
    ul {
        list-style:none;
        padding:0; margin:0;
    }
    li {
        padding:5px;
        border-bottom:1px solid #eee;
        &:last-child {
            border:none;
        }
    }
}

/* DASHBOARD STYLES 
 * -------------------------------------------------------------- */

#dashboard-profile {
    height:100px;
    background:@background;
    background: -webkit-gradient(linear, left top, left bottom, from(@background), to(#f5f5f5)); 
    background: -moz-linear-gradient(top,  @background,  #f5f5f5);
    h2 {
        font-size:1.2em;
        padding-top:12px;
    }
    .user-avatar {
        margin-left:5px;
        height:64px;
        width:64px;
        border:1px solid #ccc;
    }
}
#dashboard-pane {
    height:600px;
    border:1px solid #ccc;
    border-top:none; 
    background: #f5f5f5;
    #dashboard-tabs {
        > ul {
            border-bottom:1px solid #ccc;
            padding-left:0; margin-left:0;
            > li {
               display:block;
               float:left;   
               border:1px solid #ccc;
               padding:5px;
               margin:5px 2px -1px 2px;
               background:#f5f5f5;      
               a {
                   text-decoration:none;
                   color:#333;
               }    
           }
       }
       > div {
           padding:10px;
           height:376px;
           background:@background;
           overflow:auto;
       }
       .ui-tabs-selected {           
           background:@background;
           border-bottom:1px solid @background;
           a {
               color:#000;
           }
       }
       .ui-tabs-panel {
           display:block;
       }
       > div, .ui-tabs-panel.ui-tabs-hide {
           display:none;
       }
       h3 {
           font-size:1.4em;
       }
    }
    #dashboard-overview {
        
    }
}
#dashboard-preview {
    .box_shadow_inset(5px, 5px, 5px);    
    height:600px;    
    margin:0 0 0 501px;
    background:url("http://staticmaps.cloudmade.com/8ee2a50541944fb9bcedded5165f09d9/staticmap?bbox=51.35,-0.05,51.45,0.05&size=700x600");
    border:1px solid #ccc;
    border-top:none;
    position:relative;
    header {
        position:absolute;
        top:0; right:20px;
        color:@brand-color;
        background:rgba(255,255,255,0.8);
        padding:5px 10px;
        .box_shadow_inset(0,5px,5px);        
        border-bottom-left-radius:4px;	      
        -moz-border-radius-bottomleft:4px;
        -webkit-border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;	      
        -moz-border-radius-bottomright:4px;
        -webkit-border-bottom-right-radius:4px;
        h2 {
            font-size:1.4em;
        }
    }
}

/* FOOTER STYLES 
 * -------------------------------------------------------------- */

.footer {
    margin-top:30px;
    border-top:1px solid #ccc;
    padding: 10px 0 0 0;
    ul {
        margin-left:0;
        list-style: none;
        li {
            display:block;
            float:left;
            margin-right:1em;
        }
    }
    p {
        margin-top:0.5em;
        clear:both;
        color:#999;
        font-size:0.7em;
    }
}

/* MODAL STRUCTURES 
 * -------------------------------------------------------------- */

#simplemodal-overlay, .overlay {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:#ddd;
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    z-index:1000;
}

#simplemodal-container, .dialog {
    background:@background;
    margin:auto;
    width:600px; height:300px;
    .box_shadow(0,0,10px);
    header {
        h3 { color:#fff; }
        background:#eee;
        position:relative;
        padding:10px 20px;
    }
    .dialog-content {
        padding:5px 20px;
    }
    .simplemodal-close{
        display: block;
        width: 20px;
        height: 20px;
        margin: 10px;
        float: right;
        background: url('../images/close.png') top right transparent no-repeat;
        cursor:pointer;
    }
}

#top-notice {
    display:none;
    width:100%;
    .box_shadow(0,4px,4px);
    height:500px;
    margin:-5px -1% 20px -1%;
    padding:20px 1%;
    color:#fff;
    font-size:2em;
}

/* ADDITIONAL GENERAL USE CLASSES 
 * -------------------------------------------------------------- */

img{
    medium{
        height: 340px; width: 620px;
    }
    small{
        height: 200px; width: 400px;
    }
    thumb{
        height: 200px; width: 400px;
    }
}

.alignleft{
    float:left;
}

.center{
    text-align:center;
}

.button {
    .body-font;
    padding: .5em 1em;
    color: #333;
    font-size: .8em;
    background: #fff;
    text-decoration: none;
    border: 1px solid #666; 
    .rounded(4px);
    position: relative;
    cursor: pointer;
    a:hover{
        text-decoration: none;
    }
}
.button:hover { background-color: #eaeaea; color: #333; }

.small{
    font-size:75%;
}

.aside {
    text-align: center;
    background-color: #D9D9D9;
    background-image: -moz-linear-gradient(center bottom,#D9D9D9 0%,#F0F0F0 40%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#D9D9D9),color-stop(0.4,#F0F0F0));

    padding: 1em 2em;
    .rounded(8px);
    .box_shadow(0, 1px, 2px);       
    margin: 2em 1em 0 1em;
}


.status-messages {
    font-size: 1.4em;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display:none;
    .status-message {
        color: #333;
        padding: .25em;
        &.error {
            background-color: #fbf7d5;
            border-color: #ff8080;
        }
        &.warning {
            background-color: #ffff66;
            border-color: #ff9900;
        }
        &.success {
            background-color: #99ff99;
            border-color: #55ff55;
        }
        &.info {
            background-color: #9999ff;
            border-color: #5555ff;
        }
    }
    .status-wrap{
        background: url('../images/close.png') top right transparent no-repeat;
        padding: 5px 10px;
    }
}

.boxed {
    .rounded(4px);
    padding:5px;
    background:#f5f5f5;
    border:1px solid #eee;
}

.clear{
    clear:both;
}

.spacer{
    clear: both;
    height: 1em;
}

.highlighted{
    color:@brand-color;
}

/* SEARCH STYLES */

.search-results {
    .pager {
        .header-font;
    }
    .alt {
        background: url("../images/stripe.png") transparent;
    }
}

.news{
    h5 {
        .body-font;
        font-size:0.8em;
        line-height:1.2em;
    }
    ul{
        list-style: none;
        margin-left: 0;
        li{
            
            float:left;
            padding: 0 0 20px;
            img{
                width:40px;
                float: left;
                padding: 10px 15px 10px 0;
            }
            p{
                color:#777;
                font-size: 0.8em;
                margin: 0.5em 0;
            }
        }
    }
}

.classic-list {
    li {
        list-style-position: inside;
        list-style-type: upper-alpha;
        ol {
            margin: .3em;
            margin-left: .8em;
            li {
                list-style-type: decimal;
                ol {
                    li {
                        list-style-type: lower-alpha;
                    }
                }
            }
        }
    }
}

.codeface {
    font-family: monospace;
    background-color: #efefef;
}

.code-sample {
    white-space: pre;
    font-family: monospace;
    background-color: #efefef;
    margin-top: .25em;
    margin-bottom: .25em;
    .rounded(.5em);
    font-weight: bold;
}

.documentation {
    .toc {
        border: 1px solid #D4C272;
        padding-left: .2em;
        .rounded(.2em);
        .header-font;
    }
    a {
        color: orange;
    }
    .section {
        h2 {
            text-align: right;
            background-color: #efefef;
            border-bottom: .1em solid #888;
            color: #bbb;
            padding-right: .5em;
            font-size: 2em;
        }
        h3 {
            font-size: 2em;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }
        h4 {
            font-size: 1.6em;
            font-weight: bold;
            color: #D4C272;
        }
        p {
            .header-font;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        margin-bottom: 1em;
    }
    margin-bottom: 2em;
}
