/* include site-wide variables and fxns */
@import "sourcemap";
@import "grid";

/* PAGE STYLES 
 * -------------------------------------------------------------- */

html,body { height:100%;}

body {
    .body-font;
    font-size:1em;
    line-height:1em;
    margin:0 auto;
    background: #fff url(../images/background.png) repeat-x;
}

h1,h2,h3,h4,h5,h6{
    .header-font;
    margin: .25em 0;
    font-weight: normal;
    line-height:1.4em;
}

h1 { 
    font-size: 2.5em; 
}

h2 { 
    font-size: 1.3em; 
}

a { 
    text-decoration:none;
}

p{ 
    font-size: .8em; 
    line-height: 1.4em;
}

ul{
    list-style: square;
    margin-left: 1em;
}

img a:hover{
    border: 0;
    vertical-align: middle;
    text-underline: none;
}

a{
    color: @link-color;
    text-decoration: none;
    &:visited{
        color: @link-color;
    }
    &:hover{
        text-decoration: underline;
    }
}

/* Sticks the footer to the bottom of the page */
#footer, .push {
    height: 50px;
    clear:both;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

/* BRANDING & MASTHEAD 
 * -------------------------------------------------------------- */

#masthead {
    margin-top: 58px;
    height: 100px;
    #logo{
        float:left;
        h1{display:none;}
    }
    #navigation,#search{
        margin-top: 10px;
    }
    #navigation{
        float:right;
        list-style:none;
        li{
            font-size: 20px;
            font-weight: bold;
            float:left;
            text-align: center;
            margin: 12px 15px;
            a {
                text-decoration: underline;
                &.existing-login{
                    font-size: 50%;
                }
            }
            &.register{
                margin: 0 15px;
                a { text-decoration: none; }
            }
        }
    }
    #search{
        background: url(../images/shadow.png) top repeat-x; 
        border: 1px solid #c9c9c9;
        float:right;
        .rounded;
        input{
            width: 264px;
            padding: 10px 10px 10px 36px;
            border: 0;
            outline: none;
            background: url(../images/search.png) 12px center no-repeat; 
            -webkit-appearance: none;
        }
    }

    #search-results{
        border: 1px solid #333;
        background: #fff;
        z-index: 999;
        display:none;
        width: 400px; 
        line-height: 26px;
        ul {
            list-style:none;
            margin: 0;
            li {
                float:left;
                width: 100%;
                padding: 10px 0;
                &:hover{
                    background:#eee;
                    cursor: pointer;
                }
                &.more {
                    .body-font;
                    font-size:0.8em;
                    clear: both;
                    text-transform: lowercase;
                    border-top: 1px solid #333;
                    text-align:center;
                }
            }
            .search-result {
                position: relative;
                
                .search-link {
                    color: #333;
                    position:absolute; 
                    width:100%;
                    height:100%; 
                    top:0;
                    left: 0; 
                    z-index: 1;  
                    &:hover{
                        text-decoration: none;
                    }
                }
                .search-details {          
                    float:left;        
                    width: 200px;
                    padding: 0 20px;
                      
                    .search-title {
                        display:block;
                    }
                    .search-author {
                        color: #888;
                        font-style: italic;
                        a {
                            color: #888;
                        }
                    }
                    .search-date {
                        color: #888;
                        font-style: italic;
                        a {
                            color: #888;
                        }
                    }
                }
                .search-preview {
                    float:left;
                    padding-left: 20px;
                    width: 120px;
                    .search-preview-map {
                        width: 100%;
                    }
                }                
            }
        }
    }
}


/* PAGE STYLES 
 * -------------------------------------------------------------- */

#featured-maps {
    .box_shadow(0, 2px, 2px);    
    
    height: 339px;
    border-top:2px solid #ccc;
    background:#fff;
    
    #featured-slider {
        .featured-item {
            .featured-content {
                position: relative;
                .featured-preview-map {
                    float:left;
                    width:710px;
                    max-height:320px;
                }
                .featured-description {
                    height: 280px; width: 410px;
                    top: 20px; right: 0;
                    position:absolute;
                    background: #3088b9;
                    color: #fff;
                    .featured-title {
                        padding-left:35px;
                        font-size: 2em;
                        font-weight: normal;
                        border:0;
                        a {
                            color:rgba(0,0,0,0.8);
                        }
                    }
                    .featured-teaser {
                        padding-left:35px;                        
                        font-size:0.8em;
                    }
                    .featured-author {
                        padding-left:35px;
                        font-size:0.8em;
                        color: rgba(0,0,0,0.5);
                        a {
                            color: rgba(0,0,0,0.5);
                            text-decoration:underline;
                        }
                        
                    }
                }
            }
        }
    }
}

.preview-map-item{
    float:left;
    .preview-map {
        padding: 4px;
        background: #fff;
        border: 1px solid #d9d9d9;
        .rounded(3px);
        &:hover {
            border-color:#bbb;   
        }
    }
    .preview-title {
        .body-font;
        line-height:1em;
        margin-bottom:0;
    }
    .preview-author {
        .body-font;
        margin-top: 0;
        font-size:0.6em;
        color:#888;
        a {
            color:#888;
            text-decoration:underline;
        }
    }
    .preview-teaser {
        .body-font;
        margin-top: 0;
        font-size:0.8em;
    }       
}

#category-list {
    margin-bottom:2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .5em;
    height:.75em;
    background-image: -moz-linear-gradient(top,white,#EFEFEF);
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#EFEFEF));
    a{
        padding-left: 10px;
        border-left: 1px solid #ccc;
        &.last{
            padding-right: 10px;
            border-right: 1px solid #ccc;
        }
    }
    #category-list-content{
        float:left;
        padding: 0 10px;
    }
}




#browse-list {
    margin-top:2em;
    
    .preview-title {
        .body-font;
        line-height:1em;
        margin-bottom:0;
    }
    .preview-author {
        .body-font;
        margin-top: 0;
        font-size:0.6em;
        color:#888;
        a {
            color:#888;
            text-decoration:underline;
        }
    }
    .preview-badge {
        .preview-map {
            border: 1px solid #7e7e7e;
            &:hover {
             border-color:#000;   
            }
        }
    }
}

#user-profile {
    .user-name {
        text-transform:capitalize;
    }
    .user-title {

    }
    .user-gravatar {
        float:left;
        padding-right:1em; 
    }
    .user-details {
        font-size:0.8em;
        float:left;
        list-style:none;
    }
}
#user-stream {
    .date {
        .body-font;
        font-size:0.8em;
    }
    .event {
        line-height:1.2em;
        font-size:0.8em;
    }
}
#user-map-list, #search-results {
    font-size:0.8em;
    .user-map-preview {
        
    }
    .user-map-title {
        .body-font;
        border:none;
        margin-top:0.5em;
        margin-bottom:0;
    }
    .user-map-teaser {
        .body-font;
    }
    .user-map-details {
        .body-font;
        font-size:0.8em;
        color:#888;
    }
    .map-controls {
        margin-top:0.5em;
        text-align:right;
    }
}

#document-content {
    .body-font;
    font-size:0.8em;
    #document-title {
        .header-font;
        border-bottom: 1px solid #ccc;
    }
    h2,h3,h4,h5 {
        border-bottom:0;
        margin-top:1em;
    }
    h4,h5 {
        .body-font;
    }
}
/* FORM STYLES 
 * -------------------------------------------------------------- */

@form-height: 1em;
@hover-color: #FBF7D5;
@form-width: 18em;

.sourcemap-form-styles{
    // Mix-in for all styles universal to form boxes
    background-color:#FFFFFF;
    background-repeat: no-repeat;
    background-position: 0 5px;
    border: 1px solid #ccc;
    width:@form-width + 3;
    font-size: 80%;
    color: #999999;
    padding:3px 5px 3px 19px;
}


.sourcemap-form-size(@width: 400px){
    // Function for establishing pixel size
    width: @width;
    div{
        width: @width - 60;
        input{
            width: @width - 60;
        }
    }
}

.grid_3 .sourcemap-form{ .sourcemap-form-size(160px); }
.grid_4 .sourcemap-form{ .sourcemap-form-size(220px); }
.grid_5 .sourcemap-form{ .sourcemap-form-size(280px); }
.grid_6 .sourcemap-form{ .sourcemap-form-size(340px); }
.grid_7 .sourcemap-form{ .sourcemap-form-size(400px); }
.grid_8 .sourcemap-form{ .sourcemap-form-size(460px); }
.grid_9 .sourcemap-form{ .sourcemap-form-size(520px); }
.grid_10 .sourcemap-form{ .sourcemap-form-size(580px); }
.grid_11 .sourcemap-form{ .sourcemap-form-size(640px); }
.grid_12 .sourcemap-form{ .sourcemap-form-size(700px); }
.grid_13 .sourcemap-form{ .sourcemap-form-size(760px); }
.grid_14 .sourcemap-form{ .sourcemap-form-size(820px); }
.grid_15 .sourcemap-form{ .sourcemap-form-size(880px); }
.grid_16 .sourcemap-form{ .sourcemap-form-size(940px); }

.sourcemap-form{
    fieldset {
    border: 1px dotted #ccc;
    padding:10px 10px 25px 10px;
    }
    legend {
        font-size: 130%;
        letter-spacing: -1px;
        line-height: @form-height;
        color: #333;
        padding: 0px 13px;
        .header-font;
    }
    label {
        margin: 3px 2px 0 0;
        padding: 11px 0 0 6px;
        float:left;
        display: block;
        font-size: 85%;
        letter-spacing: -1px;
        font-weight: normal;
        line-height: 1.1;
        color:#666;
        clear: both;
        &.operator{
            margin-top: 1.8em;
            padding: 11px 5px 5px 0;
            clear:none;
            width:10px;
        }
    }
   

    div.halfwidth{
        width:10em;
        padding-left: 0;
        float:left;
        div{
            width:auto;
            input{
                width:10em;
            } 
        }
    }

    div.result{
        padding-top:34px;
        color: #999;
    }
    
    div{
        width:@form-width;
        margin-top:3px;
        padding-left:5px;
        input{
            .sourcemap-form-styles;
            &.edited{ color: #333; }
            &.textbox { background-image: url(../images/16t.png); &.working{ background-image: url(../images/throbber.gif); }}
            &.username { background-image: url(../images/16m.png); }
            &.password { background-image: url(../images/16s.png); }
            &.buttons {
                background: #EEEEEE;
                font-size:12px; 
                font-weight:bold;
                width: @form-width - 5;
                color: #555; 
                padding: 6px 14px;
                border-width: 1px solid #333;
                text-decoration: none;
                text-transform:uppercase;
                cursor: pointer;
                &:hover{
                    background: #eee;
                }
            }
            &:focus, &:hover{
                background-color:@hover-color;
            }
        }
        input[disabled]{
            color:#999;
            cursor: auto;
        }
        textarea{
            .sourcemap-form-styles;
            background-image: url(../images/16t.png);
            height:@form-height * 6;
        }
        &.sourcemap-form-checkbox{
            float:left;
            padding: 12px 0 5px;
        }
        &.sourcemap-form-select {
            float: right;
            padding: 10px 0;
            select{
                width:@form-width;
            }
        }
        &.sourcemap-form-button-div{
            width: auto;
            text-align: right;
        }
        &.sourcemap-form-button {
            float: right;
            width: auto;
        }
        &.sourcemap-form-error{
            width: auto;
            float:left;
            font-size: 70%;
            color: #999;
            margin: 15px 0 0 15px;
        }
    }

/*
    &.vertical {
        // Optional vertical style for wide/complex forms
        div{
            width: 100%;
        }
        label{
            width: auto;
        }
        .sourcemap-form-textbox{
            width:100%;
            .textbox{
                width: 94%;
                padding: 3px 0 5px 20px;
            }
        }
        .sourcemap-form-select{
            width:100%;
        }
    }
    */
}

.sourcemap-form-compact {
    input[type=text], input[type=password] {
        border: 1px solid #888;
    }
    .textbox {
        padding: 0;
        margin: 0;
    }
}


/* MAIN CONTENT 
 * -------------------------------------------------------------- */

#page-navigation {
    margin:0 auto;
    padding:5px 10px;
    color:#ffffff;
    font-weight:bold;
    font-size:0.6em;
    h2 {
        padding-top:8px;
        float:left;
        color:#fff;
    }
}

.impact-icon{
    border-left: 1px dotted #999;
    border-bottom: 1px dotted #999;
    padding: 10px 0;
    width: 60px;
    float:left;
    text-align:center;
    color: #999;
    #impact-co2{}
    #impact-h2o{}
    #impact-so2{}
    &.last{
        border-right: 1px dotted #999;
    }
}

/* SECONDARY MAP CONTENT 
 * -------------------------------------------------------------- */

#map-secondary-content {}

#discussion-section {
    float:left; 
    width:80%;
    padding:20px 1% 10px 0;
    h3 {
        font-size:1.2em;
    }
    h4 {
        .body-font;
    }
    #comments {
        list-style:none;
        padding:10px 0 0 0;
        margin:10px 0 0 0;
        border-top:1px solid #eee;
        .comment {
            .comment-meta {
                .rounded(4px);
                border:1px solid #ccc;
                background:#eee;
                margin-bottom:5px;
                .user-avatar {
                    margin:2px;
                }
                .comment-meta-text {
                    float:left;
                    padding-top:10px;
                }
            }
            .comment-body {
                margin-bottom:10px;
            }
        }
    }
    #comment-form {
        textarea {
            width:100%;
            &:focus { outline: none; }        
        }
    }
    #comment-submit {
        float:right;
    }
}
#linking-section {
    width:18%;
    float:right;
    padding:20px 0 10px 1%;
    h3  {
        margin-top:10px;
        &:first-child {
            margin-top:0;
        }
    }
    ul {
        list-style:none;
        padding:0; margin:0;
    }
    li {
        padding:5px;
        border-bottom:1px solid #eee;
        &:last-child {
            border:none;
        }
    }
}

/* DASHBOARD STYLES 
 * -------------------------------------------------------------- */
/*
#dashboard-profile {
    height:100px;
    background:@background;
    background: -webkit-gradient(linear, left top, left bottom, from(@background), to(#f5f5f5)); 
    background: -moz-linear-gradient(top,  @background,  #f5f5f5);
    h2 {
        font-size:1.2em;
        padding-top:12px;
    }
    .user-avatar {
        margin-left:5px;
        height:64px;
        width:64px;
        border:1px solid #ccc;
    }
}
#dashboard-pane {
    height:600px;
    border:1px solid #ccc;
    border-top:none; 
    background: #f5f5f5;
    #dashboard-tabs {
        > ul {
            border-bottom:1px solid #ccc;
            padding-left:0; margin-left:0;
            > li {
               display:block;
               float:left;   
               border:1px solid #ccc;
               padding:5px;
               margin:5px 2px -1px 2px;
               background:#f5f5f5;      
               a {
                   text-decoration:none;
                   color:#333;
               }    
           }
       }
       > div {
           padding:10px;
           height:376px;
           background:@background;
           overflow:auto;
       }
       .ui-tabs-selected {           
           background:@background;
           border-bottom:1px solid @background;
           a {
               color:#000;
           }
       }
       .ui-tabs-panel {
           display:block;
       }
       > div, .ui-tabs-panel.ui-tabs-hide {
           display:none;
       }
       h3 {
           font-size:1.4em;
       }
    }
    #dashboard-overview {
        
    }
}
#dashboard-preview {
    .box_shadow_inset(5px, 5px, 5px);    
    height:600px;    
    margin:0 0 0 501px;
    background:url("http://staticmaps.cloudmade.com/8ee2a50541944fb9bcedded5165f09d9/staticmap?bbox=51.35,-0.05,51.45,0.05&size=700x600");
    border:1px solid #ccc;
    border-top:none;
    position:relative;
    header {
        position:absolute;
        top:0; right:20px;
        color:@brand-color;
        background:rgba(255,255,255,0.8);
        padding:5px 10px;
        .box_shadow_inset(0,5px,5px);        
        border-bottom-left-radius:4px;	      
        -moz-border-radius-bottomleft:4px;
        -webkit-border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;	      
        -moz-border-radius-bottomright:4px;
        -webkit-border-bottom-right-radius:4px;
        h2 {
            font-size:1.4em;
        }
    }
}
*/
/* FOOTER STYLES 
 * -------------------------------------------------------------- */

.footer {
    margin-top:30px;
    border-top:1px solid #ccc;
    padding: 10px 0 0 0;
    ul {
        margin-left:0;
        list-style: none;
        li {
            display:block;
            float:left;
            margin-right:1em;
        }
    }
    p {
        margin-top:0.5em;
        clear:both;
        color:#999;
        font-size:0.7em;
    }
}

/* MODAL STRUCTURES 
 * -------------------------------------------------------------- */

#simplemodal-overlay, .overlay {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:#ddd;
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    z-index:1000;
}

#simplemodal-container, .dialog {
    background:@background;
    margin:auto;
    width:600px; height:300px;
    .box_shadow(0,0,10px);
    header {
        h3 { color:#fff; }
        background:#eee;
        position:relative;
        padding:10px 20px;
    }
    .dialog-content {
        padding:5px 20px;
    }
    .simplemodal-close{
        display: block;
        width: 20px;
        height: 20px;
        margin: 10px;
        float: right;
        background: url('../images/close.png') top right transparent no-repeat;
        cursor:pointer;
    }
}


/* ADDITIONAL GENERAL USE CLASSES 
 * -------------------------------------------------------------- */

img{
    medium{
        height: 340px; width: 620px;
    }
    small{
        height: 200px; width: 400px;
    }
    thumb{
        height: 200px; width: 400px;
    }
}

.alignleft{
    float:left;
}

.center{
    text-align:center;
}

.button {
    padding: .5em 1em;
    border: 1px solid #666; 
    .gradient(#246587,#50a3ce);
    .rounded(4px);
    .box_shadow();
    a{
        color:#f7f7f7;
        text-decoration: none;
    }
}

.button:hover { background-color: #eaeaea; color: #333; }

.small{
    font-size:75%;
}

.aside {
    text-align: center;
    .rounded(8px);
    .box_shadow(0, 1px, 2px);       
}

.status-messages {
    font-size: 1.4em;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display:none;
    .status-message {
        color: #333;
        padding: .25em;
        &.error {
            background-color: #fbf7d5;
            border-color: #ff8080;
        }
        &.warning {
            background-color: #ffff66;
            border-color: #ff9900;
        }
        &.success {
            background-color: #99ff99;
            border-color: #55ff55;
        }
        &.info {
            background-color: #9999ff;
            border-color: #5555ff;
        }
    }
    .status-wrap{
        background: url('../images/close.png') top right transparent no-repeat;
        padding: 5px 10px;
    }
}

.boxed {
    .rounded(4px);
    padding:5px;
    background:#f5f5f5;
    border:1px solid #eee;
}

.spacer{
    clear: both;
    height: 1em;
}

.highlighted{
    color:@brand-color;
}

/* SEARCH STYLES */

.search-results {
    > h2 {
        margin:0 10px;
    }
    .pager {
        .header-font;
    }
    .alt {
        background: url("../images/stripe.png") transparent;
    }
}

.news{
    background: url("../images/news_background.jpg") top center no-repeat;
    h5 {
        .body-font;
        font-size:0.8em;
        line-height:1.2em;
    }
    ul{
        list-style: none;
        margin-left: 0;
        li{
            
            float:left;
            padding: 0 0 20px;
            img{
                width:40px;
                float: left;
                padding: 10px 15px 10px 0;
            }
            p{
                color:#777;
                font-size: 0.8em;
                margin: 0.5em 0;
            }
        }
    }
}

.classic-list {
    li {
        list-style-position: inside;
        list-style-type: upper-alpha;
        ol {
            margin: .3em;
            margin-left: .8em;
            li {
                list-style-type: decimal;
                ol {
                    li {
                        list-style-type: lower-alpha;
                    }
                }
            }
        }
    }
}

.codeface {
    font-family: monospace;
    background-color: #efefef;
}

.code-sample {
    white-space: pre;
    font-family: monospace;
    background-color: #efefef;
    margin-top: .25em;
    margin-bottom: .25em;
    .rounded(.5em);
    font-weight: bold;
}

.documentation {
    .toc {
        border: 1px solid #D4C272;
        padding-left: .2em;
        .rounded(.2em);
        .header-font;
    }
    a {
        color: orange;
    }
    .section {
        h2 {
            text-align: right;
            background-color: #efefef;
            border-bottom: .1em solid #888;
            color: #bbb;
            padding-right: .5em;
            font-size: 2em;
        }
        h3 {
            font-size: 2em;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
        }
        h4 {
            font-size: 1.6em;
            font-weight: bold;
            color: #D4C272;
        }
        p {
            .header-font;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        margin-bottom: 1em;
    }
    margin-bottom: 2em;
}
