/* Sourcemap Stylesheet ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> */

/* Style Variables */
@brand-color: #328cbb;
@highlight-color: #F36B21;
@background: #FFF;
@embed-color: rgba(255,255,255,0.6);
@link-color: #2d78af;
@link-hover-color: #444;

.header-font{
     font-family:
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

.body-font{
     font-family:
        Helvetica,
        Arial,
        sans-serif;
    }

/* Style Functions */

.gradient(@start: rgba(245,245,245,0.85), @stop: rgba(255,255,255,0.85)) {
    background-image: -moz-linear-gradient(center bottom,@stop 0%,@start 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,@start),color-stop(1,@stop));
}

.transparent(@opacity: .8){
  @ie-opacity: @opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie-opacity)";
  filter: alpha(opacity=@ie-opacity);
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  opacity: @opacity;
}

.rounded(@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.background_size(@height, @width){
    background-size: @height @width;
    moz-background-size: @height @width;
}
.box_shadow (@h: 1px, @v: 1px, @blur: 1px, @color: rgba(0, 0, 0, 0.2)) {
    -webkit-box-shadow: @h @v @blur @color;
    -moz-box-shadow: @h @v @blur @color;
    box-shadow: @h @v @blur @color;
}

.box_shadow_inset (@h: 1px, @v: 1px, @blur: 1px, @color: rgba(0, 0, 0, 0.2)) {
    -webkit-box-shadow: @h @v @blur @color inset;
    -moz-box-shadow: @h @v @blur @color inset;
    box-shadow: @h @v @blur @color inset;
}
.background_size (@w: auto, @h: auto) {
    -o-background-size: @w @h;
    -webkit-background-size: @w @h;
    -khtml-background-size: @w @h;
    -moz-background-size: @w @h;
    background-size: @w @h;
}


    
/*
@todo MARKED FOR DELETION
I think this is an OD specific stylesheet, should be moved somewhere...
       
.dropdown {
    width:745px; 
    height:32px; 
    position:relative; 
    z-index:100;
    border-right:1px solid #585752; 
    ul {
        padding:0;
        margin:0;
        list-style-type:none;
        ul{
            width:149px;
            visibility:hidden; 
            position:absolute;
            height:0;
            top:31px;
            left:0; 
            width:149px;
            border-top:1px solid #000;
            a, a:visited {
                color:#000; 
                height:auto; 
                line-height:1em; 
                padding:5px 10px; 
                width:128px;
                border-width:0 1px 1px 1px;
            }
        }
    }
    li {
        float:left;
        width:149px;
        position:relative;
    }
    li:hover{
        ul{
            visibility:visible;
        }
    }
    a, a:visited {
        display:block;
        font-size:12px;
        text-decoration:none; 
        color:#fff; 
        width:138px; 
        height:30px; 
        border:1px solid #585752; 
        border-width:1px 0 1px 1px; 
        background:#a6a299; 
        padding-left:10px; 
        line-height:29px; 
        font-weight:bold;
    }
    a:hover{
        ul{
            visibility:visible;
        }
    }
    table {
        position:absolute; 
        top:0; 
        left:0; 
        border-collapse:collapse;
    }
}
*/
.clear {
    clear: both;
}



/* Sourcemap Stylesheet ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> ~~~~~~~~~> */
